@import "@rainbow-me/rainbowkit/styles.css";
@import "tailwindcss";

:root {
  --default-rounded: 0.5rem;
}

@font-face {
  font-family: "Aeonik Mono";
  src: url("public/fonts/AeonikMono-Regular.eot");
  src: local("Aeonik Mono Regular"), local("AeonikMono-Regular"),
    url("public/fonts/AeonikMono-Regular.eot?#iefix") format("embedded-opentype"),
    url("public/fonts/AeonikMono-Regular.woff2") format("woff2"),
    url("public/fonts/AeonikMono-Regular.woff") format("woff"),
    url("public/fonts/AeonikMono-Regular.ttf") format("truetype"),
    url("public/fonts/AeonikMono-Regular.svg#AeonikMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Mono";
  src: url("public/fonts/AeonikMono-Bold.eot");
  src: local("Aeonik Mono Bold"), local("AeonikMono-Bold"),
    url("public/fonts/AeonikMono-Bold.eot?#iefix") format("embedded-opentype"),
    url("public/fonts/AeonikMono-Bold.woff2") format("woff2"),
    url("public/fonts/AeonikMono-Bold.woff") format("woff"), url("public/fonts/AeonikMono-Bold.ttf")
    format("truetype"), url("public/fonts/AeonikMono-Bold.svg#AeonikMono-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Fono";
  src: url("public/fonts/AeonikFono-Regular.otf");
  src: local("Aeonik Fono Regular"), local("AeonikFono-Regular");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #1a51b2, #439ee5);
  background-attachment: fixed;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

p {
  font-weight: 300;
}

/* -- Button.tsx ------------------------------------------------------- */
.yearn--button {
  @apply cursor-pointer px-5 flex justify-center items-center h-10 text-base transition-all relative;
  border-radius: var(--default-rounded);

  &[data-variant="filled"] {
    @apply bg-blue-200 font-semibold border border-transparent;
    &:disabled {
      @apply bg-neutral-700 opacity-40;
    }
    &:not(:disabled):not([aria-busy="true"]):hover {
      @apply bg-blue-300;
    }
  }
  &[data-variant="loading"] {
    @apply text-neutral-900 bg-blue-200 font-semibold border border-transparent;
    &:disabled {
      @apply bg-blue-200 opacity-40;
    }
  }
  &[data-variant="light"] {
    @apply text-neutral-900 bg-neutral-100 border border-transparent;
    &:disabled {
      @apply opacity-40;
    }
    &:not(:disabled):not([aria-busy="true"]):hover {
      @apply bg-neutral-200;
    }
  }
  &[data-variant="outlined"] {
    @apply text-neutral-900 bg-transparent border border-neutral-900;
    &:disabled {
      @apply opacity-40;
    }
    &:not(:disabled):not([aria-busy="true"]):hover {
      @apply bg-neutral-900;
    }
  }
  &[data-variant="error"] {
    @apply text-neutral-900  font-semibold border border-transparent;
    &:disabled {
      @apply bg-neutral-200 opacity-40;
    }
    &:not(:disabled):not([aria-busy="true"]):hover {
      @apply bg-neutral-200;
    }
    &[aria-busy="true"] svg {
      @apply text-neutral-900;
    }
  }
  &[aria-busy="true"] {
    @apply cursor-wait;
    color: transparent !important;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }
}

/* -- Toast notifications ------------------------------------------------------- */
.notistack-CollapseWrapper {
  padding: 0 !important;
}
.notistack-SnackbarContainer,
.notistack-Snackbar > div {
  background-color: white !important;
  border-radius: 0.5rem !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
